body {
  margin: .75rem;
}

audio {
  display: none
}

.contains-text-overflow {
  min-width: 0;
  max-width: 100%;
}

.is-text-overflow-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.background-flash {
  background-color: #48B7AB;
}

#timer {
  display: none;
}
#timer-display {
  font-size: 3.5em;
}
#time-remaining {
  font-size: 2.5em;
}